.settings
.classpath
.project
*.iml
.idea
target/
.DS_Store
*.pyc
TODO.md
config.db
/logs/
/node_modules
/.env.local
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/mma-ui/.umi
/mma-ui/.umi-production
/mma-ui/.umi-test
/mma-ui/.dist
/mma-ui/.idea
/mma-ui/node_modules/
/mma-ui/src/.umi/
/mma-ui/src/.umi-production/
/mma-ui/dist/
/.mfsu
/.idea
/TODO.md
/.husky
/.fleet
.java-version
/mma-server/src/main/resources/static/
