com.sun.security.jgss.initiate {
   com.sun.security.auth.module.Krb5LoginModule required
   useKeyTab=true
   useTicketCache=true
   principal="<your principal>"
   doNotPrompt=true
   keyTab="<path to your key tab>"
   debug=true;
};