<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aliyun.odps.mma.mapper.DataSourceMapper">
    <resultMap id="dsMap" type="com.aliyun.odps.mma.model.DataSourceModel">
        <result column="last_update_time"  property="lastUpdateTime" typeHandler="org.apache.ibatis.type.DateTypeHandler" />
        <result column="db_num"  property="dbNum"/>
        <result column="table_num"  property="tableNum"/>
        <result column="partition_num"  property="partitionNum"/>
        <result column="init_status"  property="initStatus"/>
        <result column="create_time"  property="createTime" typeHandler="org.apache.ibatis.type.DateTypeHandler" />
        <result column="update_time"  property="updateTime" typeHandler="org.apache.ibatis.type.DateTypeHandler" />
    </resultMap>

    <insert id="insertDataSource" parameterType="com.aliyun.odps.mma.model.DataSourceModel" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into datasource (name, type, create_time) values (#{name}, #{type}, now())
    </insert>

    <select id="getDataSourceByName" resultMap="dsMap">
        select * from datasource where name=#{name}
    </select>

    <select id="getDataSourceById" resultMap="dsMap">
        select * from datasource where id=#{id}
    </select>

    <select id="getSourceType">
        select `type` from datasource where name=#{name}
    </select>

    <select id="getDataSources" resultMap="dsMap" parameterType="com.aliyun.odps.mma.query.SourceFilter">
        select * from datasource
        order by id desc
       <if test="offset >= 0 and pageSize > 0" >
            limit #{offset}, #{pageSize}
        </if>
    </select>

    <update id="updateLastUpdateTime">
        update datasource set last_update_time=now() where id=#{id}
    </update>

    <update id="updateDSName">
        update datasource set name=#{name} where id=#{id}
    </update>

    <update id="updateDataSource">
        update datasource set db_num=#{dbNum}, table_num=#{tableNum}, partition_num=#{partitionNum} where id=#{id}
    </update>

    <update id="setDataSourceInitStatus">
        update datasource set init_status=#{initStatus} where id=#{sourceId}
    </update>

    <insert id="addActionLog" parameterType="com.aliyun.odps.mma.model.ActionLog">
        insert into action_log (source_id, action_type, status, action, msg, create_time)
        values (#{sourceId}, #{actionType}, #{status}, #{action}, #{msg}, now())
    </insert>

    <select id="getActionLogs" resultType="com.aliyun.odps.mma.model.ActionLog">
        select id, status, action, msg, create_time as createTime
        from action_log
        where source_id=#{sourceId} and action_type=#{actionType}
        order by id desc
    </select>
</mapper>