<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aliyun.odps.mma.mapper.DbMapper">
    <resultMap id="dbMap" type="com.aliyun.odps.mma.model.DataBaseModel">
        <result column="source_id" property="sourceId"/>
        <result column="create_time"  property="createTime" typeHandler="org.apache.ibatis.type.DateTypeHandler" />
        <result column="update_time"  property="updateTime" typeHandler="org.apache.ibatis.type.DateTypeHandler" />
        <result column="last_ddl_time"  property="lastDdlTime" typeHandler="org.apache.ibatis.type.DateTypeHandler"/>
        <result column="num_rows" property="numRows"/>
    </resultMap>

    <select id="getAllDbs" resultMap="dbMap">
        select * from db_model
    </select>

    <select id="getDbsOfDataSource" resultMap="dbMap">
        select * from db_model where source_id in (select id from datasource where name=#{sourceName})
    </select>

    <select id="getDbById"  resultMap="dbMap">
        with p as (
            select
                #{id} as db_id,
                table_id,
                sum(if(status='INIT', 1, 0)) as init,
                sum(if(status='DOING', 1, 0)) as doing,
                sum(if(status='DONE', 1, 0)) as done,
                sum(if(status='FAILED', 1, 0)) as failed,
                count(*) as partitions
            from partition_model
            where source_id=#{sourceId} and db_id=#{id}
            group by table_id
        ),
        t as (
        select
            table_model.db_id as db_id,
            (
                case
                when has_partitions = 0 or p.partitions = 0 then status
                when p.doing > 0 then 'DOING'
                when p.failed > 0 then 'FAILED'
                when p.done = p.partitions then 'DONE'
                when p.done &gt; 0 and p.done &lt; p.partitions then 'PART_DONE'
                else 'INIT'
                end
            ) as status
            from table_model left join p on table_model.id = p.table_id
            where source_id=#{sourceId} and table_model.db_id=#{id}
        ),
        dp as (
           select
               db_id,
               sum(init) as init,
               sum(doing) as doing,
               sum(done) as done,
               sum(failed) as failed,
               sum(partitions) as partitions
           from p
           group by db_id
        ),
        dt as (
           select
               db_id,
               sum(if(status='INIT', 1, 0)) as init,
               sum(if(status='DOING', 1, 0)) as doing,
               sum(if(status='DONE', 1, 0)) as done,
               sum(if(status='FAILED', 1, 0)) as failed,
               sum(if(status='PART_DONE', 1, 0)) as part_done,
               count(*) as tables
           from t
           group by db_id
        ),
        ddp as (
           select
               id, name, source_id,
               db_model.num_rows as num_rows,
               db_model.size as size,
               dp.partitions as partitions,
               dp.done as partitionsDone,
               dp.doing as partitionsDoing,
               dp.failed as partitionsFailed
           from db_model
           left join dp
           on db_model.id = dp.db_id
           where source_id = #{sourceId} and db_model.id = #{id}
        )
        select
        ddp.*,
        dt.tables as tables,
        dt.done as tablesDone,
        dt.part_done as tablesPartDone,
        dt.doing as tablesDoing,
        dt.failed as tablesFailed
        from ddp left join dt
        on ddp.id = dt.db_id
    </select>

    <select id="getDbByName"  resultMap="dbMap">
        select * from db_model where name=#{dbName} and source_id in (select id from datasource where name=#{dsName})
    </select>

    <insert id="insertDb" parameterType="com.aliyun.odps.mma.model.DataBaseModel" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into db_model (id, source_id, name, description, owner, size, num_rows, location, status, last_ddl_time, extra, create_time)
        values (#{id}, #{sourceId}, #{name}, #{description}, #{owner}, #{size}, #{numRows}, #{location}, 'INIT', #{lastDdlTime}, #{extra}, now())
    </insert>

    <update id="updateDb" parameterType="com.aliyun.odps.mma.model.DataBaseModel">
        update db_model set size=#{size}, num_rows=#{numRows}, last_ddl_time=#{lastDdlTime}, updated=true, update_time=now() where id=#{id}
    </update>

    <update id="batchUpdateDbsStatus">
        update db_model set status=#{status}
        <where>
            <foreach item="dbId" index="index" collection="ids" open="id in (" separator=","
                     close=")">
                #{dbId}
            </foreach>
        </where>
    </update>


    <select id="getDbs" resultMap="dbMap" parameterType="com.aliyun.odps.mma.query.DbFilter">
        with p as (
            select
               db_id,
               table_id,
               sum(if(status='INIT', 1, 0)) as init,
               sum(if(status='DOING', 1, 0)) as doing,
               sum(if(status='DONE', 1, 0)) as done,
               sum(if(status='FAILED', 1, 0)) as failed,
               count(*) as partitions
            from partition_model
            where source_id=#{sourceId}
            group by db_id, table_id
        ),
        t as (
            select
               table_model.db_id as db_id,
               (
                 case
                   when has_partitions = 0 or p.partitions = 0 then status
                   when p.doing > 0 then 'DOING'
                   when p.failed > 0 then 'FAILED'
                   when p.done = p.partitions then 'DONE'
                   when p.done &gt; 0 and p.done &lt; p.partitions then 'PART_DONE'
                   else 'INIT'
                 end
               ) as status
           from table_model left join p on table_model.id = p.table_id
           where source_id=#{sourceId}
        ),
        dp as (
           select
              db_id,
              sum(init) as init,
              sum(doing) as doing,
              sum(done) as done,
              sum(failed) as failed,
              sum(partitions) as partitions
           from p
           group by db_id
        ),
        dt as (
           select
              db_id,
              sum(if(status='INIT', 1, 0)) as init,
              sum(if(status='DOING', 1, 0)) as doing,
              sum(if(status='DONE', 1, 0)) as done,
              sum(if(status='FAILED', 1, 0)) as failed,
              sum(if(status='PART_DONE', 1, 0)) as part_done,
              count(*) as tables
           from t
           group by db_id
        ),
        ddp as (
           select
              id, name, source_id,
              db_model.num_rows as num_rows,
              db_model.size as size,
              dp.partitions as partitions,
              dp.done as partitionsDone,
              dp.doing as partitionsDoing,
              dp.failed as partitionsFailed
           from db_model
           left join dp
           on db_model.id = dp.db_id
           where source_id = #{sourceId}

           <if test="id > 0">
               and db_model.id = #{id}
           </if>

           <if test="name != null and name != ''">
               and `name` like CONCAT('%', #{name}, '%')
           </if>
        )
        select
           ddp.*,
           dt.tables as tables,
           dt.done as tablesDone,
           dt.part_done as tablesPartDone,
           dt.doing as tablesDoing,
           dt.failed as tablesFailed
           from ddp left join dt
           on ddp.id = dt.db_id

        <if test="orders.size() > 0">
            <foreach item="p" index="index" collection="orders" open="order by" separator="," close="">
                ${p.name} ${p.order}
            </foreach>
        </if>

        <if test="offset >= 0 and pageSize > 0" >
            limit #{offset}, #{pageSize}
        </if>
    </select>

    <select id="getDbsCount" resultType="java.lang.Integer" parameterType="com.aliyun.odps.mma.query.DbFilter">
        select count(*) from db_model

        <where>
            <if test="sourceId > 0">
                source_id =#{sourceId}
            </if>

            <if test="id > 0">
                and id = #{id}
            </if>

            <if test="name != null">
                and `name` like CONCAT('%', #{name}, '%')
            </if>
        </where>
    </select>
</mapper>
