<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aliyun.odps.mma.mapper.JobMapper">
    <resultMap id="jobMap" type="com.aliyun.odps.mma.model.JobModel">
        <result column="source_name"  property="sourceName" />
        <result column="db_name"  property="dbName"  />
        <result column="odps_project" property="dstOdpsProject"/>
        <result column="odps_schema" property="dstOdpsSchema"/>
        <result column="create_time"  property="createTime" typeHandler="org.apache.ibatis.type.DateTypeHandler" />
        <result column="update_time"  property="updateTime" typeHandler="org.apache.ibatis.type.DateTypeHandler" />
        <result column="config"  property="config" typeHandler="com.aliyun.odps.mma.util.JobConfigHandler" />
        <result column="timer"  property="timer" typeHandler="com.aliyun.odps.mma.util.TimerHandler" />
        <result column="last_batch" property="lastBatch"/>
    </resultMap>

    <select id="getJobById"  resultMap="jobMap">
        select * from job where id=#{id}
    </select>

    <sql id="jobFilter">
        <where>
            deleted = 0

            <if test="sourceName != null">
                and source_name = #{sourceName}
            </if>

            <if test="description != null">
                and description like CONCAT('%', #{description}, '%')
            </if>

            <if test="dbName != null">
                and db_name = #{dbName}
            </if>

            <if test="dstOdpsProject != null">
                and odps_project = #{dstOdpsProject}
            </if>

            <if test="status != null">
                and status = #{status}  and stopped = 0
            </if>

            <if test="stopped != 0">
                and stopped = 1
            </if>

            <if test="jobIds != null and jobIds.size() > 0">
                and id in
                <foreach item="jobId" index="index" collection="jobIds" open="(" separator="," close=")">
                    #{jobId}
                </foreach>
            </if>
        </where>
    </sql>

    <sql id="dynamicJob">
        with job as (
        with t as (
        select job_id,
        sum(case when status = 'INIT' then 1 else 0 END) as init,
        sum(case when status = 'DONE' then 1 else 0 END) as done,
        sum(case when status like '%DOING' then 1 else 0 END) as doing,
        sum(case when status like '%FAILED' then 1 else 0 END) as failed
        from task
            <where>
            deleted=0
            <if test="dbName != null">
                and db_name=#{dbName}
            </if>

            <if test="schemaName != null">
                and schema_name=#{schemaName}
            </if>

            <if test="tableName != null">
                and table_name=#{tableName}
            </if>

            <if test="dstOdpsProject != null">
                and odps_project=#{dstOdpsProject}
            </if>

            <if test="dstOdpsSchema != null">
                and odps_schema=#{dstOdpsSchema}
            </if>

            <if test="dstOdpsTable != null">
                and odps_table=#{dstOdpsTable}
            </if>

            <if test="ptValue != null">
               and id in (
                select task_id from task_partition where partition_id in (select id from partition_model where `value`
                like CONCAT('%', #{ptValue}, '%'))
                )
           </if>
            </where>
            group by job_id
        )
        select
                 id,
                `description`,
                `source_name`,
                `db_name`,
                `odps_project`,
                `odps_schema`,
                `type`,
                `stopped`,
                `restart`,
                `timer`,
                `last_batch`,
                `config`,
                `deleted`,
                `create_time` datetime ,
                 t.init as tasks_init, t.done as tasks_done, t.doing as tasks_doing, t.failed as tasks_failed,
               (
                   case when t.doing > 0 then 'DOING'
                        when t.failed > 0 then 'FAILED'
                        when t.done > 0 and t.init = 0 then 'DONE'
                        else 'INIT'
                       end
                   ) as status
        from job left join t on job.id = t.job_id
        )
    </sql>

    <select id="getJobs"  resultMap="jobMap" parameterType="com.aliyun.odps.mma.query.JobFilter">
        <include refid="dynamicJob"></include>
        select * from job
        <include refid="jobFilter"></include>

        order by id desc
        <if test="offset >= 0 and pageSize > 0" >
            limit #{offset}, #{pageSize}
        </if>
    </select>

    <select id="getJobsCount" resultType="java.lang.Integer" parameterType="com.aliyun.odps.mma.query.JobFilter">
        select count(*) from job
        <include refid="jobFilter"></include>
    </select>

    <insert id="insertJob" parameterType="com.aliyun.odps.mma.model.JobModel">
        insert into job (id, description, source_name, db_name, odps_project, type, status, timer,  config, create_time)
        values (
                #{id},
                #{description},
                #{sourceName},
                #{dbName},
                #{dstOdpsProject},
                #{type},
                #{status},
                #{timer, typeHandler=com.aliyun.odps.mma.util.TimerHandler},
                #{config, typeHandler=com.aliyun.odps.mma.util.JobConfigHandler},
                now()
        )
    </insert>

    <select id="maxJobId" resultType="Integer">
        select id from job order by id desc limit 1;
    </select>

    <update id="updateJobsStatus">
        update job set status=#{status}
        <where>
            <foreach item="jobId" index="index" collection="ids" open="id in (" separator="," close=")">
                #{jobId}
            </foreach>
        </where>
    </update>

    <update id="setJobStop">
        update job set stopped=1 where id=#{id}
    </update>

    <update id="setJobRestart">
        update job set restart=1 where id=#{id}
    </update>

    <update id="resetJobStop">
        update job set stopped=0 where id=#{id}
    </update>

    <update id="setFailedTasksOfJobRestart">
        update task set restart=1, start_time=null, stopped=0
        where
            job_id=#{jobId} and batch_id=(select max(batch_id) from job_batch where job_id=#{jobId})
          and status in ('SCHEMA_FAILED', 'DATA_FAILED', 'VERIFICATION_FAILED')
    </update>

    <update id="setTerminatedTasksOfJobRestart">
        update task set restart=1, start_time=null, stopped=0
        where
            job_id=#{jobId} and batch_id=(select max(batch_id) from job_batch where job_id=#{jobId})
          and status in ('SCHEMA_DOING', 'DATA_DOING', 'VERIFICATION_DOING', 'SCHEMA_DONE', 'DATA_DONE', 'VERIFICATION_DONE')
    </update>

    <update id="setJobDeleted">
        update job set deleted=1 where id=#{id}
    </update>

    <select id="getNameAndIdOfJobs" resultType="Map">
        select id, description from job
    </select>

    <insert id="insertJobBatch">
        insert into job_batch (job_id, batch_id, status, err_msg, create_time)
        values (#{jobId}, #{batchId}, #{status}, #{errMsg}, now())
    </insert>

    <update id="updateJobBatchId">
        update job set last_batch=#{batchId} where id=#{jobId}
    </update>

    <select id="listJobBatches" resultType="com.aliyun.odps.mma.model.JobBatchModel">
        select id, job_id as jobId, batch_id as batchId, status, err_msg as errMsg, create_time as createTime
        from job_batch
        where job_id=#{jobId}
    </select>

    <select id="listJobsWithTimer" resultMap="jobMap">
        select * from job where timer is not null and deleted = 0 and stopped = 0
    </select>
</mapper>
